.body{
    text-align: center;

}


.workskillsimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}
.project{
    margin: 1rem 1rem 1rem 2rem;
    width: 16rem;
    border: 1px solid rgba(81, 160, 200, 0.884);
    box-shadow: rgba(81, 160, 200, 0.607) 0px 1px 2px 0px,
    rgba(81, 160, 200, 0.607) 0px 2px 6px 2px;
    padding: 1rem;
    border-radius: 6px;
   
    height: 19.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
    
}
.maintext{
   font-size:x-large;
    margin-top: 3rem;
}
.projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    flex-wrap: wrap;
}
.projectkillsimage{
    height: 30px;
    width: 30px;
    
}
.projectimages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (width >=640px) {
    .workexp {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        margin: 2rem 7rem 2rem 7rem;
        padding: 1rem;
        
    }
    .workexpleft {
        text-align: left;
        width: 45%;
    }
    .skillsbody {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 10px;
    }
    .skillsimage {
        height: 70px;
        width: 70px;
    }
    .workskillsimage {
        height: 60px;
        width: 60px;
    }

}


@media (width < 640px) {
    .workexp {
       display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 2rem;

    }
    .workexpleft{
    text-align: left;
    margin-top: 2rem;
    
   
   
}
.skillsbody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 10px;
}
.skillsimage{
    height: 40px;
    width: 40px;
}
.workskillsimage {
    height: 30px;
    width: 30px;
}

}








.container {
	background-color: white;
	border-radius: 8px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	min-height: 480px;
  min-width:370px;
  margin: 1rem;
}

h2 {
  font-size:2rem;
  margin-bottom:1rem;
}
.form-container {
  display:flex;
}

.left-container {
  flex:1;
  height:480px;
  background-color:rgba(0, 0, 0, 0.894);
}
.right-container {
  display:flex;
  flex:1;
  height:460px;
  background-color: white;
  justify-content:center;
  align-items:center;
  color: black;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
    color:white;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:70%;
  
  text-align:center;
}

.left-inner-container {
  height:50%;
  width:80%;
  text-align:center;
  line-height:22px;
}

input, textarea {
	background-color: rgb(255, 255, 255);
    border: 1px solid gray;
	border-radius: 5px;
	padding: 10px 12px;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
}

input:focus, textarea:focus{
  outline:1px solid teal;
}

button {
	border-radius: 20px;
	border: 1px solid rgba(81, 160, 200, 0.884);
	background-color: rgba(81, 160, 200, 0.884);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor:pointer;
}

button:hover {
  opacity:0.7;
}
@media only screen and (max-width: 600px) {
  .left-container{
    display: none;
  }
  .lg-view {
    display:none;  
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display:none;  
  }
}

form p {
  text-align:left;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}