.autotype span{
    color: rgb(89, 192, 243);
    margin: 0;
}
.header {
    background-image: url("https://img.freepik.com/premium-vector/digital-technology-background-digital-data-square-blue-pattern-pixel-background_322958-350.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.headerleft{
    color:white
}
.socials {
    
    bottom: 10px;
   
    display: flex;
    align-items: center;
    gap: 12px;
    height: 56px;
    margin-bottom: 1.5rem;
}
.socials>a {
    font-size: 20px;
    background:rgb(89, 192, 243);
    color: var(--color-title);
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    border-radius: 50%;

}
.wavinghand{
    height: 40px;
    transform: scaleX(-1);
}
.hand{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.profileimage{
    border-radius: 5px;
    height:280px;
    width:240px;
}
.downloadresume{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    background-color: rgba(81, 160, 200, 0.884);
    margin-top: 3rem;
    border-radius: 5px;
    font-weight: 600;
}
@media (width >=640px) {
    .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    height: 100vh;
    }
    
}
@media (width < 640px) {
    .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        height: 80vh;
    
    }
}